/Tile.class
/Main.class
/__Main.class
/Updateable.class
/Agent.class
/Drawable.class
/World.class
/Building.class
/World$PathInfo.class
/World$1Node.class
/World$1Position.class
/__Main$1Foo.class
/Stage.class
